<template name="medicineBlank">
	<div class="body-blank">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 470 470" enable-background="new 0 0 470 470">
			<g>
				<path d="M272.09,146.464c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-0.627V99.27c0-10.963-8.919-19.883-19.883-19.883H28.01   c-10.963,0-19.883,8.919-19.883,19.883v32.194H7.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h18.45v17.917l-9.202,5.27   C7.356,175.029,0,188.403,0,200.1v237.635C0,455.526,14.474,470,32.266,470h215.059c17.792,0,32.266-14.474,32.266-32.266V200.1   c0-11.696-7.356-25.071-16.749-30.449l-9.202-5.269v-17.917H272.09z M264.59,437.734c0,9.521-7.745,17.266-17.266,17.266H32.266   C22.745,455,15,447.255,15,437.734v-17.266h249.59V437.734z M264.59,405.469H15V260.292h249.59V405.469z M255.388,182.667   c4.816,2.758,9.202,11.066,9.202,17.432v45.193H15V200.1c0-6.366,4.386-14.674,9.202-17.432l12.976-7.43   c2.333-1.336,3.773-3.819,3.773-6.508v-22.266h197.69v22.266c0,2.689,1.439,5.172,3.773,6.508L255.388,182.667z M23.127,131.464   V99.27c0-2.647,2.236-4.883,4.883-4.883h29.784v14.577c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V94.387h34.667v14.577   c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V94.387h34.667v14.577c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V94.387h34.667   v14.577c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V94.387h29.785c2.647,0,4.883,2.236,4.883,4.883v32.194H23.127z"/>
				<path d="m94.927,378.352h89.736c25.073,0 45.471-20.398 45.471-45.471s-20.398-45.471-45.471-45.471h-89.736c-25.073,0-45.471,20.398-45.471,45.471s20.398,45.471 45.471,45.471zm52.368-75.942h37.368c16.802,0 30.471,13.669 30.471,30.471s-13.669,30.471-30.471,30.471h-37.368v-60.942zm-52.368,0h37.368v60.942h-37.368c-16.802,0-30.471-13.669-30.471-30.471s13.669-30.471 30.471-30.471z"/>
				<path d="m216.14,161.229h-92.69c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5 7.5,7.5h92.69c4.142,0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z"/>
				<path d="m93.45,161.229h-30c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5 7.5,7.5h30c4.142,0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z"/>
				<path d="m306.064,432.5c0,4.142 3.358,7.5 7.5,7.5s7.5-3.358 7.5-7.5v-60c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v60z"/>
				<path d="m313.564,350c4.142,0 7.5-3.358 7.5-7.5v-305c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v305c0,4.142 3.358,7.5 7.5,7.5z"/>
				<path d="M413.5,0H213.628c-31.154,0-56.5,25.346-56.5,56.5c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5   c0-22.883,18.617-41.5,41.5-41.5H413.5c22.883,0,41.5,18.617,41.5,41.5v357c0,22.883-18.617,41.5-41.5,41.5H296.269   c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5H413.5c31.154,0,56.5-25.346,56.5-56.5v-357C470,25.346,444.654,0,413.5,0z"/>
				<path d="m388.032,117.645c20.188,0 36.613-16.424 36.613-36.613 0-20.188-16.424-36.612-36.613-36.612s-36.613,16.424-36.613,36.612c0,20.189 16.425,36.613 36.613,36.613zm0-58.225c11.917,0 21.613,9.695 21.613,21.612 0,11.917-9.695,21.613-21.613,21.613s-21.613-9.695-21.613-21.613c0-11.917 9.696-21.612 21.613-21.612z"/>
				<path d="m388.032,220.29c20.188,0 36.613-16.424 36.613-36.613 0-20.188-16.424-36.612-36.613-36.612s-36.613,16.424-36.613,36.612c0,20.189 16.425,36.613 36.613,36.613zm0-58.225c11.917,0 21.613,9.695 21.613,21.612 0,11.917-9.695,21.613-21.613,21.613s-21.613-9.695-21.613-21.613c0-11.917 9.696-21.612 21.613-21.612z"/>
				<path d="m388.032,322.935c20.188,0 36.613-16.424 36.613-36.612 0-20.188-16.424-36.613-36.613-36.613s-36.613,16.424-36.613,36.613c0,20.188 16.425,36.612 36.613,36.612zm0-58.225c11.917,0 21.613,9.695 21.613,21.613 0,11.917-9.695,21.612-21.613,21.612s-21.613-9.695-21.613-21.612c0-11.918 9.696-21.613 21.613-21.613z"/>
				<path d="m388.032,425.58c20.188,0 36.613-16.424 36.613-36.612 0-20.188-16.424-36.613-36.613-36.613s-36.613,16.424-36.613,36.613c0,20.188 16.425,36.612 36.613,36.612zm0-58.225c11.917,0 21.613,9.695 21.613,21.613 0,11.917-9.695,21.612-21.613,21.612s-21.613-9.695-21.613-21.612c0-11.918 9.696-21.613 21.613-21.613z"/>
				<path d="m227.023,63.103c3.569-2.41 7.744-3.683 12.074-3.683 4.419,0 8.666,1.322 12.28,3.824 1.302,0.901 2.789,1.333 4.261,1.333 2.378,0 4.718-1.128 6.174-3.232 2.357-3.406 1.507-8.078-1.899-10.436-6.134-4.246-13.333-6.49-20.816-6.49-7.333,0-14.41,2.162-20.467,6.251-3.433,2.318-4.337,6.979-2.019,10.413s6.98,4.338 10.412,2.02z"/>
			</g>
		</svg>
		<h5>Order Medicine with discount<br>we will deliver fast.</h5>
	</div>
</template>