<template name="recordValues">
	<dialog id="modal-value" class="mdl-dialog record-upload modal-full-screen modal modal-fixed-footer modal-fix">
		<div class="header-close">
			<a class="close"><i class="material-icons">close</i></a>
			<a><h2 class="page-name">Enter values</h2></a>
		</div>
		<form id="record-values">
			<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<select name="valUser" class="mdl-textfield__input">
					<option value="">Select a user</option>
					<option value="{{user.userId}}">Self - {{user.userName}}</option>
					{{#each allMembers}}
					<option value="{{this.userId}}">{{this.type}} - {{this.name}}</option>
					{{/each}}
				</select>
				<label class="mdl-textfield__label">Upload for</label>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input name="date" type="date" class="datepicker mdl-textfield__input">
				<label class="mdl-textfield__label">Date</label>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input name="time" type="time" class="mdl-textfield__input">
				<label class="mdl-textfield__label">Time</label>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input type="text" name="values" class="mdl-textfield__input">
				<label class="mdl-textfield__label">Values</label>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<select name="signs" class="mdl-textfield__input">
					<option value="">Select a sign</option>
					<option value="Temperature">Temperature</option>
					<option value="Pulse">Pulse</option>
					<option value="Blood Pressure">Blood pressure</option>
					<option value="Blood Sugar">Blood suger</option>
					<option value="Body Temperature">Body temperature</option>
				</select>
				<label class="mdl-textfield__label">Vital Signs</label>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<select name="measurement" class="mdl-textfield__input">
					<option value="">Select a measurement value</option>
					<option value="Celsius">Celsius</option>
					<option value="Fahrenheit">Fahrenheit</option>
					<option value="mm/Hg">mm/Hg</option>
					<option value="mg/l">mg/l</option>
				</select>
				<label class="mdl-textfield__label">Measurement</label>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<textarea id="comment-record" name="comments" class="materialize-textarea mdl-textfield__input"></textarea>
				<label for="comment-record" class="mdl-textfield__label">Comments</label>
			</div>

			<input type="submit" class="btn btn-large" value="Submit">

		</form>
	</dialog>
</template>