<template name="medicineOrder">
	<dialog id="medicineOrder" class="mdl-dialog modal-full-screen modal-fix">
		<div class="header-close">
			<a href="#"><i class="material-icons close-medicineOrder">close</i></a>
			<a class="page-name">Order Medicine</a>
		</div>
		<form id="order-form">
			<div class="pic-select mdl-grid">
				<div class="col mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
					<a href="#"><i class="material-icons camera">camera</i></a>
					<h6>USE CAMERA</h6>
				</div>
				<div class="col mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
					<a href="#">
						<i class="material-icons">photo
							<input id="myFileInput" type="file">
						</i>
					</a>
					<h6>USE GALLERY</h6>
				</div>
			</div>
			<div class="image-add-part" style="display: none;">
				<div class="img-part">
					<img width="300px" height="auto" src="{{img}}">
				</div>
			</div>
			<div class="medi-row">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" name="medicineName">
					<label class="mdl-textfield__label" for="medicineName">Medicine Name</label>
					<span class="mdl-textfield__error">Name is required</span>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" name="comments">
					<label class="mdl-textfield__label" for="comments">Comment</label>
				</div>
			</div>
			<div class="medi-row">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" name="house">
					<label class="mdl-textfield__label" for="house">House / Flat number</label>
					<span class="mdl-textfield__error">Field is required</span>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" name="street">
					<label class="mdl-textfield__label" for="Building">Building/Street detail</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" name="Location">
					<label class="mdl-textfield__label" for="Location">Location</label>
					<span class="mdl-textfield__error">Name is required</span>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" name="pin">
					<label class="mdl-textfield__label" for="Pin">Pin Code</label>
				</div>
			</div>
			<div class="medi-row">
				<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label half-field">
					<label class="mdl-textfield__label" for="medUser">Select Patient</label>
					<select name="medUser" class="mdl-textfield__input">
						<option value="">Select a user</option>
						<option value="{{user.userId}}">Self - {{user.userName}}</option>
						{{#each allMembers}}
							<option value="{{this.userId}}">{{this.type}} - {{this.name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<input type="submit" class="btn btn-large" value="Submit" style="margin-top: 0;">
		</form>
	</dialog>
</template>