<template name="emergencyPopup">
	<dialog class="mdl-dialog">
		<h5>Emergency</h5>
		<h6>Message will be sent to your family members added and CareBuddy.</h6>
		<button type="button" class="mdl-button send">Send</button>
		<button type="button" class="mdl-button close">Cancel</button>
	</dialog>
</template>