<template name="newReminder">
	<div class="record-full">
		<div class="add-record-popup">
			<div class="add-reminder">
				<div class="top-header-close">
					<div class="container">
						<div class="page-name">
							<h2>Add Reminder</h2>
						</div>
						<div id="close" class="close-icon">
							<i class="mdi mdi-close"></i>
						</div>
					</div>
				</div>
				<div class="body">
					<form id="reminder-form">
						<div class="user-list">
							<div class="user-dropdown">
								<select name="user">
									<option>Reminder for</option>
									{{#each famMembers}}
									<option value="{{_id}}">{{profile.name}}</option>
									{{/each}}
								</select>
							</div>
						</div>
						<div class="user-list">
							<input type="text" name="title" class="floatlabel" placeholder="Enter title for Reminder*">
						</div>
						<div class="user-list">
							<input type="text" name="drug" class="floatlabel" placeholder="Add Drug name">
						</div>
						<div class="user-list">
							<div class="user-dropdown">
								<select name="reminder">
									<option>Reminder detail*</option>
									<option>once a day</option>
									<option>2 times a day</option>
									<option>3 times a day</option>
								</select>
							</div>
						</div>
						<div class="user-list time">
							<input type="time" name="time" class="floatlabel" placeholder="Time">
						</div>
						<div class="user-list">
							<input type="number" name="dose" class="floatlabel" maxlength="10" placeholder="Dose">
						</div>
						<div class="user-list">
							<div class="user-dropdown">
								<select name="frequency">
									<option value="">Frequency</option>
									<option value="daily">Daily</option>
									<option value="weekly">Weekly</option>
								</select>
							</div>
						</div>
						<div class="btn-blue">
							<input type="submit" value="Save">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>