<template name="reminders">
	<div class="reminder">
		{{#if reminders}}
		<div class="appointment-booked">
			{{#each reminders}}
			<div class="app-tab">
				<header class="appointment-header">
					<div class="img">
						<img src="/images/medical-appointment.png">
					</div>
					<label>
						<h3>{{title}}</h3>
						<h4>{{formatTime createdAt}}</h4><i class="mdi mdi-chevron-down"></i>
					</label>
				</header>
				<div class="app-drop">
					<table>
						<tr>
							<th>Drug<span>:</span></th>
							<td>{{drug}}</td>
						</tr>
						<tr>
							<th>Frequency<span>:</span></th>
							<td>{{frequency}}</td>
						</tr>
						<tr>
							<th>Dose<span>:</span></th>
							<td>{{dose}}</td>
						</tr>
						<tr>
							<th>Reminder<span>:</span></th>
							<td>{{reminder}}</td>
						</tr>
					</table>
				</div>
			</div>
			{{/each}}
		</div>
		{{else}}
		<div class="reminder-blank">
			<div class="body">
				<i class="mdi mdi-alarm"></i>
				<h3>You can add your medicine<br>reminders hare</h3>
			</div>
		</div>
		{{/if}}
		<div class="reminder-blank">
			<div class="footer-btn footer-btn-fixed">
				<a href="#"><i class="mdi mdi-plus-circle"></i>Add Reminder</a>
			</div>
			{{> newReminder}}
		</div>
	</div>
</template>