<template name="changePassword">
	<form id="password-form" style="max-width: 400px;">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">lock</i>
			<input class="mdl-textfield__input" type="password" name="oldPassword">
			<label class="mdl-textfield__label" for="newPassword">Old Password</label>
			<span class="mdl-textfield__error">Password is not valid!</span>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">lock</i>
			<input class="mdl-textfield__input" type="password" name="newPassword">
			<label class="mdl-textfield__label" for="newPassword">New Password</label>
			<span class="mdl-textfield__error">Password is not valid!</span>
		</div>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">lock</i>
			<input class="mdl-textfield__input" type="password" name="confirmNewPassword">
			<label class="mdl-textfield__label" for="confirmNewPassword">Confirm Password</label>
			<span class="mdl-textfield__error">Password is not valid!</span>
		</div>
		<input class="mdl-button mdl-js-button btn btn-large gray" type="submit" value="Submit">
	</form>
</template>