<template name="addAddress">
	<dialog id="addAddress" class="mdl-dialog modal-full-screen modal-fix">
		<div class="profile">
			<div class="profile-edit">
				<div class="header-close">
					<a href="#"><i class="material-icons close-addAddress">close</i></a>
					<a class="page-name">Add Address</a>
					
				</div>	
				<form id="address-form">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="tel" name="pinCode">
						<label class="mdl-textfield__label button--icon" for="pinCode">Pin Code</label>
						<span class="mdl-textfield__error">Pin Code is not valid</span>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="name">
						<label class="mdl-textfield__label button--icon" for="name">Full Name</label>
						<span class="mdl-textfield__error">Name is not valid</span>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="address1">
						<label class="mdl-textfield__label button--icon" for="address1">Address Line 1</label>
						<span class="mdl-textfield__error">Address is not valid</span>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="address2">
						<label class="mdl-textfield__label button--icon" for="address2">Address Line 2</label>
						<span class="mdl-textfield__error">Address is not valid</span>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="city">
						<label class="mdl-textfield__label button--icon" for="city">City</label>
						<span class="mdl-textfield__error">City is not valid</span>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" name="state">
						<label class="mdl-textfield__label button--icon" for="state">State</label>
						<span class="mdl-textfield__error">State is not valid</span>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="tel" id="phone" name="phone">
						<label class="mdl-textfield__label button--icon" for="phone">Phone Number</label>
						<span id="error-msg" class="mdl-textfield__error">Invalid number</span>
					</div>
					<input type="submit" value="Submit" class="btn btn-large">	
				</form>
			</div>		
		</div>
	</dialog>
</template>