<template name="userAddress">
	<div class="mdl-grid">
		{{#if address}}
		{{#each address}}
		<div class="col mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--4-col-tablet mdl-shadow--16dp">
			<div class="demo-card-square mdl-card mdl-shadow--2dp ">
				<div class="mdl-card__title mdl-card--expand mdl-card--border">
					<h2 class="mdl-card__title-text">{{this.name}}</h2>
				</div>
				<div class="mdl-card__supporting-text">
					{{this.address1}}<br>
					{{this.address2}}<br>
					{{this.city}}<br>
					{{this.state}}<br>
					{{this.pinCode}}<br>
					<br>
					{{this.phone}}
				</div>
			</div>
		</div>
		{{/each}}
		{{else}}
		<p>You don't have any address</p>
		{{/if}}
	</div>
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-addAddress-modal">
		<i class="material-icons">add</i>
	</button>
</template>