<template name="register">
	<div class="mobile-register register-fill">
		<header>
			<img src="/images/phone-number.png">
			<h5>Enter your mobile no. to register</h5>
		</header>

		<form id="register-form">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<i class="material-icons">phone</i>
				<input class="mdl-textfield__input" type="tel" id="phone" length="10" name="username">
				<label class="mdl-textfield__label button--icon" for="username">Phone Number</label>
				<span id="error-msg" class="mdl-textfield__error">Invalid number</span>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<i class="material-icons">email</i>
				<input class="mdl-textfield__input" type="email" name="email">
				<label class="mdl-textfield__label" for="email">Email Address</label>
				<span class="mdl-textfield__error">Email address is not valid!</span>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<i class="material-icons">lock</i>
				<input class="mdl-textfield__input" type="password" name="newPassword">
				<label class="mdl-textfield__label" for="newPassword">New Password</label>
				<span class="mdl-textfield__error">Password is not valid!</span>
			</div>

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<i class="material-icons">lock</i>
				<input class="mdl-textfield__input" type="password" name="confirmNewPassword">
				<label class="mdl-textfield__label" for="confirmNewPassword">Confirm Password</label>
				<span class="mdl-textfield__error">Password is not valid!</span>
			</div>

			<input type="submit" value="Verify Phone Number" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		</form>
	</div>
</template>