.footer-btn-fix{
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
	@include box-sizing(border-box);
	padding: 0 20px;
	background-color: #fff;
	a{
		width: 100%;
	}
}

.btn{
	outline: none;
	border-radius: 3px;
	background-color: $logo-color;
	letter-spacing: 2px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	word-spacing: 2px;
	border: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	i{
		margin-right: 10px;
		vertical-align: middle;
		font-size: 30px;
	}
}
.btn-large{
	width: 100% !important;
	text-transform: uppercase;
	max-width: 400px;
	margin: 10px auto;
	display : block;
}

button.mdl-button--fab{
	position: fixed;
	right: 30px;	
	bottom: 30px;
	z-index: 99;
	background-color: $logo-color !important;
	i{
		position: absolute !important;

	}
	&:hover{
		background-color: $logo-color;
	}
}
.btn{
	&.gray{
		background-color: #ADADAD;
	}
}
button#photo{
	bottom: 90px;
	background-color: #2196F3 !important;
}
button#value{
	bottom: 150px;
	background-color: #71b9cd !important;
}
.btn-fab{
	opacity : 0;
	visibility: hidden;
	@include transform(translateY(60px));
	@include transition(.2s);
	position: fixed;
    bottom: 0;
    right: 0px;
	&.active{
		opacity : 1;
		visibility: visible;
		@include transform(translateY(0px));
	}
}