.bg-img{
	background: url("../images/start-page-gray-op.jpg") repeat center top;
	background-size: contain;
	overflow-x: hidden;
	overflow-y: auto;
	@include box-sizing(border-box);
}

main{
	padding: 0px 14px 20px 15px;
	@include box-sizing(border-box);
}
a,input{
	outline: none;
}
.country-list{
	text-align: left;
}
.right{
	float: right;
}
.right-align{
	text-align: right;
}
.body-blank{
	left: 0;
	text-align: center;
	position: absolute;
	top: 40%;
	width: 100%;
	margin-top: -55px;	
	svg{
		height: auto;
		width: 100px;
		fill: #a6a6a6;
	}
	h5{
		margin: 16px 0 5px !important;
		line-height: 1.3;
	}
	span{
		color: $logo-color;
	}
}
.center{
	text-align: center;
}


//		Added record dropdown
.drop-list{
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	max-width: 850px;
	margin: 10px auto 0;
	.drop-head{
		cursor: pointer;
		background-color: #71b9cd;
	    display: flex;
	    align-items: flex-start;
	    position: relative;
	    img{
	    	width: 29px;
	    	margin: 10px;
	    }
	    label{
	    	color: #fff;
	    	line-height: 1.5;
	    	margin-top: 7px;
	    	padding-left: 10px;
	    	h5,h6{
	    		margin: 0;
	    		font-weight: 100;
	    	}
	    	h5{
	    		font-size: 14px !important;
	    	}
	    }
	    .material-icons{
	    	right: 20px;		
	    	top: 15px;
	    	position: absolute !important;
	    }
	    &.active{
	    	background-color: #5f5f5f;
	    	.material-icons{
	    		@include transform(rotate(180deg));
	    	}
	    }
	}
	.drop-body{
		@include box-sizing(border-box);
		display: none;
		.added-record-img{
			text-align: center;
			img{
			    width: 60%;
			}
		}
		table{
			border-left: 1px solid #F2F2F2;
			border-right: 1px solid #F2F2F2;
			@include box-sizing(border-box);
			width: 100%;
			tr{
				&:nth-child(odd) {
				    background-color: #f2f2f2;
				}
				span{
					float: right;
				}
				td, th {
				    padding: 15px;
				    text-align: left;
				}
			}
		}
		.app-delete{
			background-color: #71b9cd;
			height: 25px;
			i{
				font-size: 20px;
				    margin: 3px 30px 0 0;
			}
		}
	}
}

.pic-select{
	text-align: center;
	overflow: hidden;
	.col{
			
		a{
			position: relative;
			i{
				margin: 0;
				font-size: 70px;
				color: #71b9cd;
				position: relative;
			}
			input[type="file"] {
			    height: 90px;
			    position: absolute;
			    top: 0;
			    width: 90px;
			    left: 0;
			    opacity: 0;
			}
		}
		h6{
			text-align: center;
			margin: 0;
		}
	}
}
.mdl-card {
    width: auto;
}

.camera-popup{
	max-width: 310px;
	width: 100%;
	margin-left: -155px;
	padding: 15px 0;
}
.camera-popup .photo-preview{
	width: 100%;
}

.mdl-layout__container.has-scrolling-header .mdl-layout__content{
	position: static !important;
}

.demo-card-square > .mdl-card__title{
	background-color: #71b9cd !important;
}