form{
	margin: auto;
	padding: 10px 20px 0;
	max-width: 800px;
    @include box-sizing(border-box);
	.mdl-button--accent.mdl-button--accent.mdl-button--raised, 
	.mdl-button--accent.mdl-button--accent.mdl-button--fab{
		width: 200px;
	}
	h6{
		cursor: pointer;
		display: block;
		line-height: 1;
		margin: 0;
		text-align: right;
	}
	.material-icons{
		float: left;
		margin-left: -30px;
	}
}
// #order-form,#address-form{
// 	overflow-x: hidden;
// 	overflow-y: scroll;
// 	height: 90vh;
// }
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: $logo-color !important;
}
.mdl-textfield__label:after{
	background-color: $logo-color !important;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, 
.mdl-button--accent.mdl-button--accent.mdl-button--fab{
	background-color: $logo-color;
}
h6{
	font-size: 12px !important;
}
form{
	input,textarea,select{
		width: 100%;
	}
	input[type="submit"]{
		width: auto;
	}
}
.half-field{
	width: 49%;
	display: inline-block;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid $logo-color !important;
    
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background-color: $logo-color !important;
}
.mdl-textfield.is-focused .mdl-textfield__input {
    border: none !important;
}

.mdl-textfield{
	width: 100% !important;
}  
label.error{
	color: rgb(213,0,0);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    display: block;
}