.footer-modal{
	width: 100% !important;
	max-width: 100% !important;
	@include box-sizing(border-box);
	bottom: 0 !important;		
	text-align: center !important;
	z-index: 99;
	background: #E0E0E0;
	.mdl-dialog__content{
		padding: 0;
	}
}
dialog::backdrop{
	background: rgba(0,0,0,.5);
}
dialog.active{
	background-color: red;
}

.mdl-dialog__actions--full-width>* {
    margin-right: 0;
    height: 38px !important;
    flex: 0 0 40% !important;
    text-align: center !important;
}
.modal-full-screen{
	width: 100% !important;
	max-width: 100%;
	bottom: 0;
	height: 100%;
	@include box-sizing(border-box);
	padding: 0;
	z-index: 99;
	overflow-x: hidden;
	overflow-y: auto;
	form ,.body{
		padding-top: 56px;
	}
	.header-close{
		position: fixed;
		width: 100%;
		top: 0;
	}
}

._dialog_overlay{
	z-index: 0 !important;
}