.profile{
	margin: auto;
	.profile-pic{
		display: flex;
		align-items: center;
		h4{
			margin-left: 20px;
		}
	}
	
	.contact-information{
		padding-top: 20px;
		h2{
			color: $logo-color;
		}
		.mdl-textfield{
			padding: 7px 0;
			.material-icons{
				float: left;
				color: $logo-color;
				text-align: center;
			}
			input,textarea,select{
				width: 90%;
				float: right;
				padding-left: 10px;
				outline: none;
				@include box-sizing(border-box);
			}
		}
	}
	.mdl-tabs__tab{
		width: 25%;
	}
}

.member-img{
	display: inline-block;
    border-radius: 6px;
    overflow: hidden;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: bottom right 15% no-repeat #46B6AC;
}
@media (max-width: $mobile-c){
	.mdl-tabs__tab{
		padding: 0;
	    font-size: 12px;
	    width: 120px !important;
	}
}