<template name="newMember">
	<dialog id="memberDialog" class="mdl-dialog modal modal-full-screen modal-fix">
		<div class="header-close">
			<a href="#"><i class="material-icons close">close</i></a>
			<a class="page-name">Add Member</a>
		</div>
		<form id="member-form">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="name">
				<label class="mdl-textfield__label" for="name">Name</label>
				<span class="mdl-textfield__error">Name is required</span>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="tel" id="phone" name="phone" placeholder="  ">
				<label class="mdl-textfield__label button--icon" for="number">Phone number</label>
				<span class="mdl-textfield__error">Input is not a number!</span>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="date" name="dob">
				<label class="mdl-textfield__label" for="date">Date of birth</label>
			</div>
			<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<label class="mdl-textfield__label" for="relation">Relation</label>
				<select class="mdl-textfield__input" name="relation">
					<option value="">Select a relation type</option>
					<option value="Father">Father</option>
					<option value="Mother">Mother</option>
					<option value="Brother">Brother</option>
					<option value="Sister">Sister</option>
					<option value="Child">Child</option>
					<option value="Spouse">Spouse</option>
					<option value="Other">Other</option>
				</select>
			</div>
			<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<label class="mdl-textfield__label" for="gender">Gender</label>
				<select class="mdl-textfield__input" name="gender">
					<option value="">Select gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>
			<input type="submit" value="Submit" class="btn btn-large">
		</form>
	</dialog>
</template>