<template name="feedback">
	<div id="modal1" class="modal">
		<div class="modal-content">
			<form id="feedback-form">
				<label>Give yout app feedback</label>
				<textarea name="feedback"></textarea>
				<div class="modal-footer">
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</template>