<template name="verify">
	<dialog id="otp" class="mdl-dialog">
		<form id="otp-form">
			<h4 class="mdl-dialog__title">Mobile Number Verification</h4>
			<div class="mdl-dialog__content">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<i class="material-icons">dashboard</i>
					<input class="mdl-textfield__input" type="tel" length="6" name="otp">
					<label class="mdl-textfield__label button--icon" for="username">Enter your OTP</label>
					<span class="mdl-textfield__error">Input is not a number!</span>
				</div>
			</div>
			<div class="mdl-dialog__actions">
				<input type="submit" class="mdl-button" value="submit">
				<button type="button" class="mdl-button close">Cancel</button>
			</div>
		</form>
	</dialog>
</template>