<template name="appointments">
	{{#if Template.subscriptionsReady}}
	<div class="records">
		{{#if appointments}}
		<div class="record-added">
			<ul class="collapsible popout" data-collapsible="accordion">
				{{#each appointments}}
				<li class="drop-list">
					<div class="drop-head">
						<img src="/images/medical-appointment.png">
						<label>
							<h5>Appointment <span>({{appointmentType}})</span></h5>
							<h6>{{formatTime createdAt}}</h6><i class="material-icons right">keyboard_arrow_down</i>
						</label>
					</div>
					
					<div class="drop-body">
						<table class="striped">
							<tr>
								<th>Type<span>:</span></th>
								<td>{{appointmentType}}</td>
							</tr>
							<tr>
								<th>Doctor Name<span>:</span></th>
								<td>{{appointmentName}}</td>
							</tr>
							<tr>
								<th>Location<span>:</span></th>
								<td>{{appointmentAddress}}</td>
							</tr>
							<tr>
								<th>Time<span>:</span></th>
								<td>{{appointmentTime}}</td>
							</tr>
							<tr>
								<th>Date<span>:</span></th>
								<td>{{appointmentDate}}</td>
							</tr>
							<tr>
								<th>Address<span>:</span></th>
								<td>{{appointmentAddress}}</td>
							</tr>
						</table>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
		{{else}}
		{{> appointmentBlank}}
		{{/if}}
	</div>
	{{else}}
	<p>Loading...</p>
	{{/if}}
</template>