<template name="appointmentBlank">
	<div class="body-blank">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="614.5px" height="614.499px" viewBox="0 0 614.5 614.499" style="enable-background:new 0 0 614.5 614.499;" xml:space="preserve">
			<g>
				<g>
					<g>
						<path d="M460.254,112.718c0,5.281-4.301,9.562-9.562,9.562c-5.28,0-9.582-4.3-9.582-9.562V9.562c0-5.261,4.302-9.562,9.582-9.562     s9.562,4.301,9.562,9.562V112.718L460.254,112.718z"/>
						<path d="M173.387,112.718c0,5.281-4.3,9.562-9.562,9.562c-5.281,0-9.562-4.3-9.562-9.562V9.562     C154.243,4.301,158.544,0,163.825,0c5.261,0,9.562,4.301,9.562,9.562V112.718z"/>
						<path d="M84.933,243.92c-5.281,0-9.562-4.301-9.562-9.562c0-5.261,4.3-9.562,9.562-9.562h444.633c5.28,0,9.562,4.301,9.562,9.562     c0,5.261-4.281,9.562-9.562,9.562H84.933z"/>
						<path d="M242.718,518.444c0,5.28-4.301,9.562-9.562,9.562c-5.281,0-9.562-4.301-9.562-9.562V343.916l-33.085,33.086     c-3.721,3.721-9.802,3.721-13.522,0s-3.72-9.802,0-13.521l49.408-49.408c1.74-1.722,4.121-2.801,6.761-2.801     c5.281,0,9.562,4.301,9.562,9.562V518.444L242.718,518.444z"/>
						<path d="M307.25,528.006c-5.281,0-9.562-4.301-9.562-9.562c0-5.28,4.301-9.562,9.562-9.562h49.408     c11.001,0,20.963-4.439,28.163-11.621l0.04-0.04c7.183-7.201,11.622-17.163,11.622-28.165s-4.439-20.982-11.622-28.185     l-0.04-0.04c-7.2-7.182-17.162-11.622-28.163-11.622H307.25c-5.281,0-9.562-4.301-9.562-9.562v-0.261V320.83     c0-5.28,4.301-9.562,9.562-9.562h0.241h98.556c5.281,0,9.562,4.302,9.562,9.562c0,5.281-4.301,9.562-9.562,9.562h-89.234v79.675     h39.848c16.241,0,30.983,6.621,41.646,17.263l0.04,0.04c10.662,10.661,17.263,25.424,17.263,41.667     c0,16.242-6.621,30.983-17.263,41.646l-0.04,0.04c-10.662,10.643-25.424,17.264-41.646,17.264h-49.41V528.006z"/>
						<path d="M1.259,209.654c0-5.281,4.301-9.562,9.562-9.562c5.281,0,9.562,4.301,9.562,9.562V555.51     c0,10.941,4.501,20.924,11.702,28.125c7.221,7.222,17.183,11.723,28.125,11.723H554.25c10.941,0,20.902-4.501,28.125-11.723     c7.221-7.222,11.722-17.184,11.722-28.125V209.654c0-5.281,4.28-9.562,9.562-9.562c5.281,0,9.562,4.301,9.562,9.562V555.51     c0,16.224-6.641,30.985-17.322,41.667c-10.683,10.683-25.425,17.322-41.646,17.322h-494c-16.223,0-30.985-6.641-41.667-17.322     C7.902,586.496,1.259,571.714,1.259,555.511V209.654z"/>
						<path d="M163.825,47.868c5.281,0,9.562,4.281,9.562,9.562c0,5.281-4.3,9.562-9.562,9.562H60.25     c-10.862,0-20.824,4.521-28.084,11.762l-0.5,0.46c-6.941,7.161-11.262,16.963-11.262,27.604v43.867h573.713v-43.867     c0-10.902-4.521-20.843-11.741-28.064l-0.46-0.48c-7.161-6.961-16.963-11.282-27.646-11.282h-65.371     c-5.28,0-9.562-4.301-9.562-9.562c0-5.281,4.301-9.562,9.562-9.562h65.371c15.764,0,30.306,6.421,40.966,16.763l0.66,0.6     c10.684,10.682,17.344,25.404,17.344,41.587v53.169v0.26c0,5.281-4.301,9.562-9.562,9.562H11.081h-0.26     c-5.261,0.019-9.562-4.282-9.562-9.563v-53.429c0-15.782,6.421-30.285,16.763-40.947l0.6-0.66     c10.702-10.702,25.444-17.363,41.607-17.363h103.597L163.825,47.868L163.825,47.868z M450.693,47.868H202.052     c-5.281,0-9.562,4.281-9.562,9.562c0,5.281,4.3,9.562,9.562,9.562h248.641c5.28,0,9.562-4.301,9.562-9.562     C460.254,52.148,455.954,47.868,450.693,47.868z"/>
					</g>
				</g>
			</g>
		</svg>
		<h5>No booked Appointment<br>
			<span>Chat with carebuddy to book Appointment</span>
		</h5>
	</div>
</template>