<template name="resetPassword">
	<form id="reset-form">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">lock</i>
			<input class="mdl-textfield__input" type="password" name="newPassword">
			<label class="mdl-textfield__label" for="newPassword">New Password</label>
			<span class="mdl-textfield__error">Password is not valid!</span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">lock</i>
			<input class="mdl-textfield__input" type="password" name="confirmNewPassword">
			<label class="mdl-textfield__label" for="confirmNewPassword">Confirm Password</label>
			<span class="mdl-textfield__error">Password is not valid!</span>
		</div>
		<input type="submit" value="Reset Password" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	</form>
</template>