.bg-img{
	background: url("../images/start-page-gray-op.jpg") repeat center top;
	background-size: contain;
}

.site-title{
	padding-top: 30px;
	color: $logo-color;
	h1{
		@extend %cm;
		font-weight: bold;
		letter-spacing: 3px;
		margin-bottom: 0;
	}
	h6{
		border-top: 1px solid;
		display: inline-block;
		margin-top: 0;
		letter-spacing: 0;
	}
}	
.login{
	text-align: center;
	form {
		width: 90%;
		max-width: 300px;
	}
	#or{
		margin: 10px;
		display: block;
		font-size: 20px;
	}
	a{
		margin-top: 10px;
		color: #5f5f5f;
	}
	.forgot-password{
		padding-bottom: 10px;
		margin: 0;
		cursor: pointer;
		display: block;
		line-height: 1;
		text-align: right;
	}
}

@media (max-width: $mobile-l){
	h1{
		font-size: 30px;
	}
	.input-field .prefix ~ input{
		margin-bottom: 0;
	}
}

.mynumber{
	margin-top: 50px;
	float: right;
	h6{
		border-bottom: 1px solid $logo-color;
		display: inline-block;
		span{
			margin-left: 10px;
			color: $logo-color;
		}
		.material-icons{
			float: right;
			margin: 0px 0 0 10px;
			font-size: 18px;
			color: orange;
		}
	}
}

.resend-code{
	button{
		box-shadow: none;
		color: red;
		background-color: transparent;
	}
}


.register-fill{
	header{
		max-width: 400px;
		margin: auto;
		display: flex;
		align-items: center;
		text-align: left;
		color: #000;
		img{
			width: 50px;
		}
		h5{
			font-size: 14px;
			line-height: 1.2;
			margin-left: 10px !important;
		}
	}
}

.intl-tel-input{
	width: 100%;
}

.mobile-register{
	
}

.iti-mobile .intl-tel-input .country-list{
	width: 90% !important;
}