<template name="recordDetails">
	<dialog id="modal-detail" class="mdl-dialog modal-full-screen modal-fix">
		<div class="header-close">
			<a class="close"><i class="material-icons">close</i></a>
			<a><h2 class="page-name">Enter details</h2></a>
		</div>
		<div class="body">
			<div class="record-upload full-fix">
				<div class="added-img center">
					<img class="responsive-img" src="{{img}}" alt="">
				</div>
				<form id="records-detail">

					<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
						<select name="imgUser" class="mdl-textfield__input">
							<option value="">Select a user</option>
							<option value="{{user.userId}}">Self - {{user.userName}}</option>
							{{#each allMembers}}
								<option value="{{this.userId}}">{{this.type}} - {{this.name}}</option>
							{{/each}}
						</select>			
						<label class="mdl-textfield__label">Upload for</label>		
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input type="date" name="imgDate" class="datepicker mdl-textfield__input">
						<label class="mdl-textfield__label">date</label>
					</div>

					<div class="input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
						<select name="imgRecord" class="mdl-textfield__input">
							<option value="Bill">Bill</option>
							<option value="Prescription">Prescription</option>
							<option value="Report">Report</option>
						</select>
						<label class="mdl-textfield__label">Record type</label>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<textarea id="comment-record" name="imgComments" class="materialize-textarea mdl-textfield__input"></textarea>
						<label for="comment-record" class="mdl-textfield__label button--icon">Comments</label>
					</div>

					<input type="submit" class="btn btn-large"  value="Submit">
				</form>

			</div>
		</div>
	</dialog>
</template>