	.chat{
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 50px;
    top: 64px;
    padding: 10px 15px 0px 15px;
    .chat-msg{
    	margin-bottom: 10px;
    	.msg{
            position: relative;
    		color: #fff;
    		background-color: #0fc0e1;
       		border-radius: 8px;
    		display: inline-block;
    		min-width: 80px;
    		padding: 8px 10px 8px;
    		max-width: 70%;
            text-align: left;
    		small{
			    margin-top: 8px;
    		}
    		p{
    			margin: 0;
    		}
            &:before{
                content: '';
                position: absolute;
                bottom: 3px;
                width: 12px;
                height: 19px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                left: -10px;
                background-image: url('../images/chat-cb.png');
            }
    	}
    }
    .chat-img{
        .msg{
            max-width: 40%;
            .material-placeholder{
                img{
                    width: 100%;
                }
            }
        }
    }
    .user-msg{
    	.msg{
            color: #000;
    		background: #e6e5eb;
            &:before{
                left: auto;
                right: -10px;
                background-image: url('../images/chat-user.png');
            }
    	}
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;
    background-color: #fff;
    padding: 8px 0;
    box-sizing: border-box;
    i{
        font-size: 30px !important;
        color: #0fc0e1 !important;
        width: 10% !important;
        text-align: center !important;
        display: inline-block !important;
        margin-top: 4px;
        float: left;
    }
    input{
        height: 30px !important;
        border-radius: 6px !important;
        background-color: #eee;
        width: 80%;
        left: 10%;
        position: absolute;
        border: none;
        border-bottom: 1px solid $logo-color;
        &:focus{
            border: 1px solid $logo-color;
            box-shadow: 0 0 10px $logo-color !important ;
        }
    }
}
@media (max-width: $mobile-l){

    footer{
        i{
            font-size: 22px !important;
            width: 25px;
        }
    }
}