<template name="recordUpload">
	<dialog id="modal-image" class="mdl-dialog modal-full-screen modal-fix">
		<div class="record-image modal modal-fixed-footer">
			<div class="header-close">
				<a class="close"><i class="material-icons">close</i></a>
				<a><h2 class="page-name">Upload file</h2></a>
			</div>
			<div class="body">
				<h5 class="center">Plese upload your<br>medical Report</h5>
				<div class="pic-select mdl-grid">
					<div class="col mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
						<a href="#"><i class="material-icons camera">camera</i></a>
						<h6>USE CAMERA</h6>
					</div>
					<div class="col mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet">
						<a href="#">
							<i class="material-icons">photo
								<input id="myFileInput" type="file">
							</i>
						</a>
						<h6>USE GALLERY</h6>
					</div>
				</div>
			</div>
		</div>
	</dialog>
</template>