.family-member{
	padding-bottom: 20px;
	.mdl-radio{
		display: block !important;
	}
	.family-member-added{
		margin: auto;
	    max-width: 850px;
		.member-info{
			border: 1px solid #4b81bc;
			border-radius: 3px;
			padding: 10px 15px;
			margin-top: 10px;
			.member-name{
				display: inline-block;
				width: 70%;	
				h2{
					color: #4b81bc;
					font-weight: bold;
					margin-top: 10px;
				}
				h5{
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					margin-top: 10px;
				}
			}
		}
	}
}