//
// Fonts
// --------------------------------------------------

@mixin font-face-src($name, $file) {
    font-family: #{$name};
    src: url("/fonts/#{$file}.eot?") format("eot"), url("/fonts/#{$file}.ttf") format("woff"), url("/fonts/#{$file}.woff") format("woff"), url("/fonts/#{$file}.ttf") format("truetype");
}

@font-face {
    @include font-face-src("Comfortaa", "Comfortaa");
}


@font-face {
    @include font-face-src("Comfortaa Bold", "Comfortaa");
}


@font-face {
    @include font-face-src("Comfortaa Light", "Comfortaa-light");
}



%cm {

    font-family: "Comfortaa" , "Comfortaa" ;
}
%cm-b {
    font-family: "Comfortaa Bold";
}
%cm-l{
    font-family: "Comfortaa Light";
}