<template name="nav">
	<header class="mdl-layout__header mdl-layout__header--scroll">
		<div class="mdl-layout__header-row">

			<span class="mdl-layout-title">CareBuddy</span>

			<div class="mdl-layout-spacer"></div>

			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="/dashboard/home"><i class="material-icons">chat</i></a>
				<a class="mdl-navigation__link" href="/dashboard/emergency"><i class="material-icons">add_alert</i></a>
			</nav>
		</div>
	</header>
</template>	