<template name="personalInfo">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--10-col">
			{{#if detail.userDetails.profile}}
			<ul>
				<li class="mdl-grid">
					<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone"> Date Of Birth</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--2-col-phone" style="font-weight: bold;">{{detail.userDetails.profile.dob}}</div>
				</li>
				<li class="mdl-grid">
					<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">Blood Group</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--2-col-phone" style="font-weight: bold;">{{detail.userDetails.profile.blood}}</div>
				</li>
				<li class="mdl-grid">
					<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">Allergies</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--2-col-phone" style="font-weight: bold;">{{detail.userDetails.profile.allergies}}</div>
				</li>
			</ul>
			{{else}}
			<p>Add your personal information</p>
			{{/if}}
		</div>
		<div class="mdl-cell mdl-cell--2-col">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-editProfile-modal">
				<i class="material-icons">edit</i>
			</button>
		</div>
	</div>
</template>