<template name="sidenav">
	<div class="mdl-layout__drawer">
		<header class="mdl-layout-title">
			<span>{{user.name}}</span>
			<h6>{{user.phone}}</h6>
			<!-- <h6></h6> -->
		</header>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="/dashboard/home"><i class="material-icons">home</i>Home</a>
			<a class="mdl-navigation__link" href="/dashboard/records"><i class="material-icons">assignment</i>Records</a>
			<!-- <a class="mdl-navigation__link" href="{{pathFor route='reminders'}}"><i class="material-icons">library_books</i>Reminder</a> -->
			<a class="mdl-navigation__link" href="/dashboard/members"><i class="material-icons">people</i>Family Member</a>
			<a class="mdl-navigation__link" href="/dashboard/medicine"><i class="material-icons">history</i>Medicines</a>
			<a class="mdl-navigation__link" href="/dashboard/appointments"><i class="material-icons">date_range</i>Appointment</a>
			<a class="mdl-navigation__link" href="/dashboard/profile"><i class="material-icons">person_pin</i>Profile</a>
			<a class="mdl-navigation__link" href="/logout"><i class="material-icons">sentiment_dissatisfied</i>Logout</a>
		</nav>
	</div>
</template>