<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>New Appointment</title>
	<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
	<table>
		<tr>
			<td></td>
			<td width="600">
				<table width="100%" style="border: 1px solid #eee;">
					<tr>
						<th style="text-align: left; padding: 10px; border-bottom: 1px solid #eee; border-right: 1px solid #eee;">Appointment Type</th>
						<td style="text-align: left; padding: 10px; border-bottom: 1px solid #eee;">{{type}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-bottom: 1px solid #eee; border-right: 1px solid #eee;">{{type}} Name</th>
						<td style="text-align: left; padding: 10px; border-bottom: 1px solid #eee;">{{name}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">{{type}} Phone</th>
						<td style="text-align: left; padding: 10px;">{{phone}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-bottom: 1px solid #eee; border-right: 1px solid #eee;">{{type}} Address</th>
						<td style="text-align: left; padding: 10px; border-bottom: 1px solid #eee;">{{address}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">{{type}} Comments</th>
						<td style="text-align: left; padding: 10px;">{{comments}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-bottom: 1px solid #eee; border-right: 1px solid #eee;">{{type}} Date</th>
						<td style="text-align: left; padding: 10px; border-bottom: 1px solid #eee;">{{date}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">{{type}} Time</th>
						<td style="text-align: left; padding: 10px;">{{time}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">User</th>
						<td style="text-align: left; padding: 10px;">{{user}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">Created By</th>
						<td style="text-align: left; padding: 10px;">{{createdBy}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">Created At</th>
						<td style="text-align: left; padding: 10px;">{{createdAt}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>