<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>New Message</title>
	<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
	<table>
		<tr>
			<td></td>
			<td width="600">
				<table width="100%" style="border: 1px solid #eee;">
					<tr>
						<th style="text-align: left; padding: 10px; border-bottom: 1px solid #eee; border-right: 1px solid #eee;">Message</th>
						<td style="text-align: left; padding: 10px; border-bottom: 1px solid #eee;">{{msg}}<br>{{date}}<br>{{time}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>