<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>New User</title>
	<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
	<table>
		<tr>
			<td></td>
			<td width="600">
				<table width="100%" style="border: 1px solid #eee;">
					<tr>
						<th style="text-align: left; padding: 10px; border-bottom: 1px solid #eee; border-right: 1px solid #eee;">First Name</th>
						<td style="text-align: left; padding: 10px; border-bottom: 1px solid #eee;">{{firstName}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-bottom: 1px solid #eee; border-right: 1px solid #eee;">Last Name</th>
						<td style="text-align: left; padding: 10px; border-bottom: 1px solid #eee;">{{lastName}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">Phone</th>
						<td style="text-align: left; padding: 10px;">{{phone}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">Email</th>
						<td style="text-align: left; padding: 10px;">{{email}}</td>
					</tr>
					<tr>
						<th style="text-align: left; padding: 10px; border-right: 1px solid #eee;">Created At</th>
						<td style="text-align: left; padding: 10px;">{{createdAt}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>