<head>
	<!-- NAME: 1:2 COLUMN - BANDED -->
	<!--[if gte mso 15]>
	<xml>
		<o:OfficeDocumentSettings>
		<o:AllowPNG/>
		<o:PixelsPerInch>96</o:PixelsPerInch>
		</o:OfficeDocumentSettings>
	</xml>
	<![endif]-->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CareBuddy</title>
	<style type="text/css">
		p{
			margin:10px 0;
			padding:0;
		}
		table{
			border-collapse:collapse;
		}
		h1,h2,h3,h4,h5,h6{
			display:block;
			margin:0;
			padding:0;
		}
		img,a img{
			border:0;
			height:auto;
			outline:none;
			text-decoration:none;
		}
		body,#bodyTable,#bodyCell{
			height:100%;
			margin:0;
			padding:0;
			width:100%;
		}
		#outlook a{
			padding:0;
		}
		img{
			-ms-interpolation-mode:bicubic;
		}
		table{
			mso-table-lspace:0pt;
			mso-table-rspace:0pt;
		}
		.ReadMsgBody{
			width:100%;
		}
		.ExternalClass{
			width:100%;
		}
		p,a,li,td,blockquote{
			mso-line-height-rule:exactly;
		}
		a[href^=tel],a[href^=sms]{
			color:inherit;
			cursor:default;
			text-decoration:none;
		}
		p,a,li,td,body,table,blockquote{
			-ms-text-size-adjust:100%;
			-webkit-text-size-adjust:100%;
		}
		.ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
			line-height:100%;
		}
		a[x-apple-data-detectors]{
			color:inherit !important;
			text-decoration:none !important;
			font-size:inherit !important;
			font-family:inherit !important;
			font-weight:inherit !important;
			line-height:inherit !important;
		}
		.templateContainer{
			max-width:600px !important;
		}
		a.mcnButton{
			display:block;
		}
		.mcnImage{
			vertical-align:bottom;
		}
		.mcnTextContent{
			word-break:break-word;
		}
		.mcnTextContent img{
			height:auto !important;
		}
		.mcnDividerBlock{
			table-layout:fixed !important;
		}
		/*
		@tab Page
		@section Background Style
		@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
		*/
		body,#bodyTable{
			/*@editable*/background-color:#FAFAFA;
		}
		/*
		@tab Page
		@section Background Style
		@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
		*/
		#bodyCell{
			/*@editable*/border-top:0;
		}
		/*
		@tab Page
		@section Heading 1
		@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
		@style heading 1
		*/
		h1{
			/*@editable*/color:#202020;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:26px;
			/*@editable*/font-style:normal;
			/*@editable*/font-weight:bold;
			/*@editable*/line-height:125%;
			/*@editable*/letter-spacing:normal;
			/*@editable*/text-align:left;
		}
		/*
		@tab Page
		@section Heading 2
		@tip Set the styling for all second-level headings in your emails.
		@style heading 2
		*/
		h2{
			/*@editable*/color:#202020;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:22px;
			/*@editable*/font-style:normal;
			/*@editable*/font-weight:bold;
			/*@editable*/line-height:125%;
			/*@editable*/letter-spacing:normal;
			/*@editable*/text-align:left;
		}
		/*
		@tab Page
		@section Heading 3
		@tip Set the styling for all third-level headings in your emails.
		@style heading 3
		*/
		h3{
			/*@editable*/color:#202020;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:20px;
			/*@editable*/font-style:normal;
			/*@editable*/font-weight:bold;
			/*@editable*/line-height:125%;
			/*@editable*/letter-spacing:normal;
			/*@editable*/text-align:left;
		}
		/*
		@tab Page
		@section Heading 4
		@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
		@style heading 4
		*/
		h4{
			/*@editable*/color:#202020;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:18px;
			/*@editable*/font-style:normal;
			/*@editable*/font-weight:bold;
			/*@editable*/line-height:125%;
			/*@editable*/letter-spacing:normal;
			/*@editable*/text-align:left;
		}
		/*
		@tab Preheader
		@section Preheader Style
		@tip Set the background color and borders for your email's preheader area.
		*/
		#templatePreheader{
			/*@editable*/background-color:#FAFAFA;
			/*@editable*/border-top:0;
			/*@editable*/border-bottom:0;
			/*@editable*/padding-top:9px;
			/*@editable*/padding-bottom:9px;
		}
		/*
		@tab Preheader
		@section Preheader Text
		@tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
		*/
		#templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
			/*@editable*/color:#656565;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:12px;
			/*@editable*/line-height:150%;
			/*@editable*/text-align:left;
		}
		/*
		@tab Preheader
		@section Preheader Link
		@tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
		*/
		#templatePreheader .mcnTextContent a,#templatePreheader .mcnTextContent p a{
			/*@editable*/color:#656565;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
		/*
		@tab Header
		@section Header Style
		@tip Set the background color and borders for your email's header area.
		*/
		#templateHeader{
			/*@editable*/background-color:#FFFFFF;
			/*@editable*/border-top:0;
			/*@editable*/border-bottom:0;
			/*@editable*/padding-top:9px;
			/*@editable*/padding-bottom:0;
		}
		/*
		@tab Header
		@section Header Text
		@tip Set the styling for your email's header text. Choose a size and color that is easy to read.
		*/
		#templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
			/*@editable*/color:#202020;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:16px;
			/*@editable*/line-height:150%;
			/*@editable*/text-align:left;
		}
		/*
		@tab Header
		@section Header Link
		@tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
		*/
		#templateHeader .mcnTextContent a,#templateHeader .mcnTextContent p a{
			/*@editable*/color:#2BAADF;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
		/*
		@tab Body
		@section Body Style
		@tip Set the background color and borders for your email's body area.
		*/
		#templateBody{
			/*@editable*/background-color:#FFFFFF;
			/*@editable*/border-top:0;
			/*@editable*/border-bottom:0;
			/*@editable*/padding-top:0;
			/*@editable*/padding-bottom:0;
		}
		#templateBody .mcnTextContent,#templateBody .mcnTextContent p{
			/*@editable*/color:#202020;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:16px;
			/*@editable*/line-height:150%;
			/*@editable*/text-align:left;
		}
		#templateBody .mcnTextContent a,#templateBody .mcnTextContent p a{
			/*@editable*/color:#2BAADF;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
		#templateColumns{
			/*@editable*/background-color:#FFFFFF;
			/*@editable*/border-top:0;
			/*@editable*/border-bottom:2px solid #EAEAEA;
			/*@editable*/padding-top:0;
			/*@editable*/padding-bottom:9px;
		}
		#templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
			/*@editable*/color:#202020;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:16px;
			/*@editable*/line-height:150%;
			/*@editable*/text-align:left;
		}
		#templateColumns .columnContainer .mcnTextContent a,#templateColumns .columnContainer .mcnTextContent p a{
			/*@editable*/color:#2BAADF;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
		#templateFooter{
			/*@editable*/background-color:#FAFAFA;
			/*@editable*/border-top:0;
			/*@editable*/border-bottom:0;
			/*@editable*/padding-top:9px;
			/*@editable*/padding-bottom:9px;
		}
		#templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
			/*@editable*/color:#656565;
			/*@editable*/font-family:Helvetica;
			/*@editable*/font-size:12px;
			/*@editable*/line-height:150%;
			/*@editable*/text-align:center;
		}
		#templateFooter .mcnTextContent a,#templateFooter .mcnTextContent p a{
			/*@editable*/color:#656565;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
		@media only screen and (min-width:768px){
			.templateContainer{
				width:600px !important;
			}

		}	@media only screen and (max-width: 480px){
			body,table,td,p,a,li,blockquote{
				-webkit-text-size-adjust:none !important;
			}

		}	@media only screen and (max-width: 480px){
			body{
				width:100% !important;
				min-width:100% !important;
			}

		}	@media only screen and (max-width: 480px){
			#bodyCell{
				padding-top:10px !important;
			}

		}	@media only screen and (max-width: 480px){
			.columnWrapper{
				max-width:100% !important;
				width:100% !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnImage{
				width:100% !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnCaptionTopContent,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer{
				max-width:100% !important;
				width:100% !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnBoxedTextContentContainer{
				min-width:100% !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnImageGroupContent{
				padding:9px !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
				padding-top:9px !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnImageCardTopImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
				padding-top:18px !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnImageCardBottomImageContent{
				padding-bottom:9px !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnImageGroupBlockInner{
				padding-top:0 !important;
				padding-bottom:0 !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnImageGroupBlockOuter{
				padding-top:9px !important;
				padding-bottom:9px !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnTextContent,.mcnBoxedTextContentColumn{
				padding-right:18px !important;
				padding-left:18px !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
				padding-right:18px !important;
				padding-bottom:0 !important;
				padding-left:18px !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcpreview-image-uploader{
				display:none !important;
				width:100% !important;
			}

		}	@media only screen and (max-width: 480px){
			h1{
				/*@editable*/font-size:22px !important;
				/*@editable*/line-height:125% !important;
			}

		}	@media only screen and (max-width: 480px){
			h2{
				/*@editable*/font-size:20px !important;
				/*@editable*/line-height:125% !important;
			}

		}	@media only screen and (max-width: 480px){

			h3{
				/*@editable*/font-size:18px !important;
				/*@editable*/line-height:125% !important;
			}

		}	@media only screen and (max-width: 480px){
			h4{
				/*@editable*/font-size:16px !important;
				/*@editable*/line-height:150% !important;
			}

		}	@media only screen and (max-width: 480px){
			.mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
				/*@editable*/font-size:14px !important;
				/*@editable*/line-height:150% !important;
			}

		}	@media only screen and (max-width: 480px){
			#templatePreheader{
				/*@editable*/display:block !important;
			}

		}	@media only screen and (max-width: 480px){
			#templatePreheader .mcnTextContent,#templatePreheader .mcnTextContent p{
				/*@editable*/font-size:14px !important;
				/*@editable*/line-height:150% !important;
			}

		}	@media only screen and (max-width: 480px){
			#templateHeader .mcnTextContent,#templateHeader .mcnTextContent p{
				/*@editable*/font-size:16px !important;
				/*@editable*/line-height:150% !important;
			}

		}	@media only screen and (max-width: 480px){
			#templateBody .mcnTextContent,#templateBody .mcnTextContent p{
				/*@editable*/font-size:16px !important;
				/*@editable*/line-height:150% !important;
			}

		}	@media only screen and (max-width: 480px){
			#templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
				/*@editable*/font-size:16px !important;
				/*@editable*/line-height:150% !important;
			}

		}	@media only screen and (max-width: 480px){
			#templateFooter .mcnTextContent,#templateFooter .mcnTextContent p{
				/*@editable*/font-size:14px !important;
				/*@editable*/line-height:150% !important;
			}

		}
	</style>
</head>
<body>
	<center>
		<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
			<tr>
				<td align="center" valign="top" id="bodyCell">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="center" valign="top" id="templatePreheader">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
									<tr>
										<td valign="top" class="preheaderContainer"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top" id="templateHeader">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
									<tr>
										<td valign="top" class="headerContainer">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
												<tbody class="mcnImageBlockOuter">
													<tr>
														<td valign="top" style="padding:9px" class="mcnImageBlockInner">
															<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
																<tbody>
																	<tr>
																		<td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
																			<img align="center" alt="" src="https://gallery.mailchimp.com/5ddc5635a8989793a4dc0ef30/images/19d06dd5-ee5b-4d7d-b025-786b266855ab.png" width="564" style="max-width:1043px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top" id="templateBody">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
									<tr>
										<td valign="top" class="bodyContainer">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
												<tbody class="mcnTextBlockOuter">
													<tr>
														<td valign="top" class="mcnTextBlockInner">
															<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
																<tbody>
																	<tr>
																		<td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
																			<h1>
																				<span style="color: #222222;font-family: arial,sans-serif;">Thanks a lot for signing up with CareBuddy.&nbsp;</span>
																			</h1>

																			<div style="color: #222222;font-family: arial, sans-serif;">&nbsp;</div>

																			<div style="color: #222222;font-family: arial, sans-serif;">We welcome you with a smile because a smile is the universal welcome.&nbsp;</div>

																			<div style="color: #222222;font-family: arial, sans-serif;"><br>
																				We understand that taking care of ourselves and family's health can become a full time job, leaving you with less time for things you love to do.&nbsp;<br>
																				CareBuddy is your personal health assistant, on a mission to make it convenient and easy for you to take care of your family's health.&nbsp;<br>
																				<br>
																				You will be one of the first to use the CareBuddy app when we launch. Your CareBuddy is almost here.<br>
																				In the meantime, please help us tell others by sharing with these links.<br>
																				&nbsp;
																			</div>

																			<div style="color: #222222;font-family: arial, sans-serif;">&nbsp;</div>

																			<div style="color: #222222;font-family: arial, sans-serif;text-align:center;"><br>
																				<a style="    color: #FFFFFF; text-decoration: inherit; font-size: 24px; padding: 10px 30px;" href="{{url}}"><button style="background-color: #11c1f3; border-color: #0a9ec7; color: #fff; min-height: 60px; min-width: 62px; border-radius: 2px; border-style: solid; border-width: 1px;">Verify Email Address</button></a>
																			</div>

																			<div style="color: #222222; font-size: 14px; font-family: arial, sans-serif;text-align:center;"><br><br>
																			Or Copy & paste the below url in browser <br> {{url}}
																			</div>

																			<div style="color: #222222;font-family: arial, sans-serif;text-align:center;"><br><br>
																				<a href="https://play.google.com/store/apps/details?id=co.carebuddy.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img style="height: 60px; margin: 0 auto;	width: 185px;" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" /></a>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnShareBlock" style="min-width:100%;">
												<tbody class="mcnShareBlockOuter">
													<tr>
														<td valign="top" style="padding:9px" class="mcnShareBlockInner">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnShareContentContainer" style="min-width:100%;">
																<tbody>
																	<tr>
																		<td align="center" style="padding-top:0; padding-left:9px; padding-bottom:0; padding-right:9px;">
																			<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnShareContent">
																				<tbody>
																					<tr>
																						<td align="center" valign="top" class="mcnShareContentItemContainer" style="padding-top:9px; padding-right:9px; padding-left:9px;">
																							<table align="center" border="0" cellpadding="0" cellspacing="0">
																							<tbody>
																							<tr>
																							<td align="left" valign="top">
																							<table align="left" border="0" cellpadding="0" cellspacing="0">	<tbody>	<tr>
																							<td valign="top" style="padding-right:9px; padding-bottom:9px;" class="mcnShareContentItemContainer"><table border="0" cellpadding="0" cellspacing="0" width="" class="mcnShareContentItem" style="border-collapse: separate; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">	<tbody>	<tr>
																							<td align="left" valign="middle" style="padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;">	<table align="left" border="0" cellpadding="0" cellspacing="0" width="">
																							<tr>
																							<td align="center" valign="middle" width="24" class="mcnShareIconContent"><a href="http://www.facebook.com/sharer/sharer.php?u=carebuddy.co" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-facebook-48.png" style="display:block;" height="24" width="24" class=""></a>
																							</td>
																							<td align="left" valign="middle" class="mcnShareTextContent" style="padding-left:5px;">
																							<a href="http://www.facebook.com/sharer/sharer.php?u=carebuddy.co" target="" style="color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;">Share</a>
																							</td>
																																				</tr>
																																			</table>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																											<table align="left" border="0" cellpadding="0" cellspacing="0">
																												<tbody>
																													<tr>
																														<td valign="top" style="padding-right:9px; padding-bottom:9px;" class="mcnShareContentItemContainer">
																															<table border="0" cellpadding="0" cellspacing="0" width="" class="mcnShareContentItem" style="border-collapse: separate; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
																																<tbody>
																																	<tr>
																																		<td align="left" valign="middle" style="padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;">
																																			<table align="left" border="0" cellpadding="0" cellspacing="0" width="">
																																				<tbody>
																																					<tr>
																																						<td align="center" valign="middle" width="24" class="mcnShareIconContent">
																																							<a href="http://twitter.com/intent/tweet?text=CareBuddy%3A%20Personal%20Health%20Assistant%20for%20your%20Family: carebuddy.co" target="_blank">
																																								<img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-twitter-48.png" style="display:block;" height="24" width="24" class="">
																																							</a>
																																						</td>
																																						<td align="left" valign="middle" class="mcnShareTextContent" style="padding-left:5px;">
																																							<a href="http://twitter.com/intent/tweet?text=CareBuddy%3A%20Personal%20Health%20Assistant%20for%20your%20Family: carebuddy.co" target="" style="color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;">Tweet</a>
																																						</td>
																																					</tr>
																																				</tbody>
																																			</table>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																														</td>
																													</tr>
																												</tbody>
																											</table>

																											<table align="left" border="0" cellpadding="0" cellspacing="0">
																												<tbody>
																													<tr>
																														<td valign="top" style="padding-right:9px; padding-bottom:9px;" class="mcnShareContentItemContainer">
																															<table border="0" cellpadding="0" cellspacing="0" width="" class="mcnShareContentItem" style="border-collapse: separate; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
																																<tbody>
																																	<tr>
																																		<td align="left" valign="middle" style="padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;">
																																			<table align="left" border="0" cellpadding="0" cellspacing="0" width=""><tbody>
																																				<tr>
																																					<td align="center" valign="middle" width="24" class="mcnShareIconContent"><a href="http://www.linkedin.com/shareArticle?url=carebuddy.co&amp;mini=true&amp;title=CareBuddy%3A%20Personal%20Health%20Assistant%20for%20your%20Family" target="_blank">
																																						<img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-linkedin-48.png" style="display:block;" height="24" width="24" class="">
																																					</a>
																																				</td>
																																				<td align="left" valign="middle" class="mcnShareTextContent" style="padding-left:5px;">
																																					<a href="http://www.linkedin.com/shareArticle?url=carebuddy.co&amp;mini=true&amp;title=CareBuddy%3A%20Personal%20Health%20Assistant%20for%20your%20Family" target="" style="color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;">Share</a></td></tr>
																																				</tbody>
																																			</table>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																														</td>
																													</tr>
																												</tbody>
																											</table>

																											<table align="left" border="0" cellpadding="0" cellspacing="0">
																												<tbody>
																													<tr>
																														<td valign="top" style="padding-right:0; padding-bottom:9px;" class="mcnShareContentItemContainer">
																															<table border="0" cellpadding="0" cellspacing="0" width="" class="mcnShareContentItem" style="border-collapse: separate; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
																																<tbody>
																																	<tr>
																																		<td align="left" valign="middle" style="padding-top:5px; padding-right:9px; padding-bottom:5px; padding-left:9px;"><table align="left" border="0" cellpadding="0" cellspacing="0" width=""><tbody>
																																			<tr>
																																				<td align="center" valign="middle" width="24" class="mcnShareIconContent">
																																					<a href="*|FORWARD|*" target="_blank">
																																						<img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-forwardtofriend-48.png" style="display:block;" height="24" width="24" class="">
																																					</a>
																																				</td>
																																				<td align="left" valign="middle" class="mcnShareTextContent" style="padding-left:5px;">
																																					<a href="*|FORWARD|*" target="" style="color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;">Forward</a>
																																				</td></tr>
																																			</tbody>
																																		</table>
																																	</td>
																																</tr>
																															</tbody>
																														</table>
																													</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="center" valign="top" id="templateColumns">
							<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
								<tr>
									<td valign="top">
										<table align="left" border="0" cellpadding="0" cellspacing="0" width="300" class="columnWrapper">
											<tr>
												<td valign="top" class="columnContainer"></td>
											</tr>
										</table>
										<table align="left" border="0" cellpadding="0" cellspacing="0" width="300" class="columnWrapper">
											<tr>
												<td valign="top" class="columnContainer"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="center" valign="top" id="templateFooter">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
								<tr>
									<td valign="top" class="footerContainer">
										<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
											<tbody class="mcnTextBlockOuter">
												<tr>
													<td valign="top" class="mcnTextBlockInner">
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
															<tbody>
																<tr>
																	<td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
																		<div style="color: #222222;font-family: arial, sans-serif;">
																			<span style="font-size:14px">Now, taking care of your family will not be a full time job.</span>
																		</div>
																		<div style="color: #222222;font-family: arial, sans-serif;">&nbsp;</div>
																		<div style="color: #222222;font-family: arial, sans-serif;">&nbsp;
																			<div>
																				<div dir="ltr"><span style="font-size:14px">Regards,</span>
																					<div>&nbsp;</div>
																					<div>
																						<span style="font-size:14px">Team CareBuddy</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
											<tbody class="mcnDividerBlockOuter">
												<tr>
													<td class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
														<table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EEEEEE;">
															<tbody>
																<tr>
																	<td>
																		<span></span>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
											<tbody class="mcnTextBlockOuter">
												<tr>
													<td valign="top" class="mcnTextBlockInner">
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
															<tbody>
																<tr>
																	<td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
																		Copyright © 2016 CareBuddy, All rights reserved.<br>
																		<br>
																		Our mailing address is:&nbsp;<span style="font-size:14px">care@carebuddy.co</span>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>
</body>