<template name="orderDetails">
	<dialog id="orderDetails" class="mdl-dialog modal-full-screen">
		<div class="header-close">
			<a href="#"><i class="material-icons closee">close</i></a>
			<a class="page-name">Order Detail</a>
		</div>
		{{#each orderDetail}}
		<div class="medicine-full-detail body">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<span class="price">Order ID:</span>
				</div>
				<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<b>{{_id}}</b>
				</div>
				<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<span class="price">Medicine Name:</span> 
				</div>
				<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<b>{{medicineName}}</b>
				</div>
				<div class="mdl-cell mdl-cell--12-col">
					<span class="delivery-method">{{formatTime createdAt}}</span>
				</div>
			</div>	
			<div class="medicine-address-info">
				<div class="medi-pre half-field">
					<img class="responsive-img" src="{{url}}">
				</div>
				<div class="medi-add half-field">
					<div class="mdl-grid">
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<span class="price">House Number - </span>
						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<b>{{house}}</b>
						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<span class="price">Street - </span>
						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<b>{{street}}</b>
						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<span class="price">Location - </span>
						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<b>{{location}}</b>
						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<span class="price">Pin - </span>
						</div>
						<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
							<b>{{pin}}</b>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</dialog>
</template>