<template name="forgotPassword">
	<form id="forgot-form">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">person</i>
			<input class="mdl-textfield__input" type="email" name="email">
			<label class="mdl-textfield__label button--icon" for="email">Email</label>
			<span class="mdl-textfield__error">Input is not an email!</span>
		</div>
		<input type="submit" value="Forgot Password" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	</form>
	<a href="/login">Login to continue</a>
</template>