<template name="progressBar">
	{{#if progress}}
	<div id="nprogress">
		<div class="bar" role="bar" style="transform: translate3d({{progress}}%, 0px, 0px); transition: all 350ms linear;">
			<div class="peg"></div>
		</div>
	</div>
	{{/if}}
</template>