@mixin transform($translateX) {
    -webkit-transform: $translateX;
    -moz-transform: $translateX;
    -ms-transform: $translateX;
    -o-transform: $translateX;
    transform: $translateX;
}
@mixin transform($translateY) {
    -webkit-transform: $translateY;
    -moz-transform: $translateY;
    -ms-transform: $translateY;
    -o-transform: $translateY;
    transform: $translateY;
}
@mixin transform($translateZ) {
    -webkit-transform: $translateZ;
    -moz-transform: $translateZ;
    -ms-transform: $translateZ;
    -o-transform: $translateZ;
    transform: $translateZ;
}
@mixin box-sizing($border-box){
    -webkit-box-sizing: $border-box;
       -moz-box-sizing: $border-box;
            box-sizing: $border-box;
}
@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
    border-radius: $border-radius;
}
@mixin border-image($border-image) {
    -webkit-border-image: $border-image;
    -moz-border-image: $border-image;
    -ms-border-image: $border-image;
    -o-border-image: $border-image;
    border-image: $border-image;
}
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
@mixin transition-duration($transition-duration) {
    -webkit-transition-duration: $transition-duration;
    -moz-transition-duration: $transition-duration;
    -ms-transition-duration: $transition-duration;
    -o-transition-duration: $transition-duration;
    transition-duration: $transition-duration;
}
@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: $transition-delay;
    -moz-transition-delay: $transition-delay;
    -ms-transition-delay: $transition-delay;
    -o-transition-delay: $transition-delay;
    transition-delay: $transition-delay;
}
@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}


@mixin screen($media) {
    @if $media == mobile {
        @media only screen and (min-width: $mobile-portrait) {
            @content;
        }
    }
    @if $media == mobile-max {
        @media only screen and (max-width: $mobile-landscape - 1px) {
            @content;
        }
    }
    @else if $media == mobile-l {
        @media only screen and (min-width: $mobile-landscape) {
            @content;
        }
    }
    @else if $media == mobile-l-max {
        @media only screen and (max-width: $tablet-portrait - 1px) {
            @content;
        }
    }
    @else if $media == tablet {
        @media only screen and (min-width: $tablet-portrait) {
            @content;
        }
    }
    @else if $media == tablet-max {
        @media only screen and (max-width: $tablet-landscape - 1px) {
            @content;
        }
    }
    @else if $media == tablet-l {
        @media only screen and (min-width: $tablet-landscape) {
            @content;
        }
    }
    @else if $media == tablet-l-max {
        @media only screen and (max-width: $tablet-landscape - 1px) {
            @content;
        }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $desktop) {
            @content;
        }
    }
    @else if $media == desktop-l {
        @media only screen and (min-width: $desktop-large) {
            @content;
        }
    }
    @else if $media == desktop-sm-height {
        @media only screen and (max-height: $desktop-sm-hg) {
            @content;
        }
    }
}


