$hover-color: #fff;
$color: #5f5f5f;
$desktop-l:1644px;
$desktop:1366px;
$tablet-l:1024px;
$mobile-l:640px;
$mobile:320px;
$mobile-c:420px;
$tablet:768px;
$iphone-6s:740px;
$logo-color: #0fc0e1;
$small-screen: 600px;

// mdl-theme.scss
$color-primary: "15,192,225";
$color-accent: "255,255,255";
@import '{zodiase:mdl}/theme';