<template name="connection">
	<div class="emergency-popup">
		<div class="popup-bg">
			<div class="popup-body">
				<i class="mdi mdi-close"></i>
				<h3>Not Connected.</h3>
				<button id="send"></button>
			</div>
		</div>
	</div>
</template>