<template name="verifyPhone">
	<form id="otp-form">
	<h5>Mobile Number Verification</h5>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<i class="material-icons">dashboard</i>
			<input class="mdl-textfield__input" type="tel" length="6" name="otp">
			<label class="mdl-textfield__label button--icon" for="username">Enter your OTP</label>
			<span class="mdl-textfield__error">Input is not a number!</span>
		</div>
		<input type="submit" value="Proceed" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	</form>
</template>